body {
    background-image: url("https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 15px;
    width: 400px;
    opacity: 0.9;
}

.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    color: #2691d9;
}

form {
    padding: 0 40px;
    box-sizing: border-box;
}

.txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: #2691d9; /* Adjust to your preferred color */
    color: #e9f4fb;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #237cb1; /* A slightly darker shade for the hover effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Subtle shadow for depth */
}


.pass {
    display: block;
    margin: -5px 0 20px 5px;
    text-align: center;
    font-size: 16px;
    color: #666666;
    text-decoration: none;
}
    
.pass:hover{
    text-decoration: underline;
}    
    
.error-messages {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}
    
.error-message {
    width: 100%;
    border: none;
    background: none;
    margin-bottom: 10px;
    color: red;
    text-align: center;
}

.singup_link {
    margin: 30px 0;
    text-align: center; 
    font-size: 16px;
    color: #666666;
}

.singup_link a {
    position: relative;
    color: #2691d9;
    text-decoration: none;
    transition: color 0.3s;
}

.singup_link a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px; /* Adjust as needed */
    left: 0;
    background-color: #2691d9;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.singup_link a:hover::before {
    visibility: visible;
    width: 100%;
}