<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password - Communication_LTD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h2>Forgot Password</h2>
        </header>
        <div class="form-login"> 
            <form method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <button type="submit" class="btn">Reset Password</button>
                {% if get_flashed_messages() %}
                    <div class="error-messages">
                        {% for message in get_flashed_messages() %}
                            <textarea readonly class="error-message">{{ message }}</textarea>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
            <a href="{{ url_for('login') }}" class="link">Back to Login</a>
        </div>
    </div>
</body>
</html>
