<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password - Communication_LTD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center">
        <h1>Forgot Password</h1>
        <form method="post" class="form-login">
            <div class="txt_field">
                <input type="email" id="email" name="email" required>
                <span></span>
                <label for="email">Email:</label>
            </div>
            <input type="submit" value="Reset Password">
            {% if get_flashed_messages() %}
                <div class="error-messages">
                    {% for message in get_flashed_messages() %}
                        <textarea readonly class="error-message">{{ message }}</textarea>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
        <div class="singup_link">
            <a href="{{ url_for('login') }}">Back to Login</a>
        </div>
    </div>
</body>
</html>
