<!DOCTYPE html>
<html>
<head>
    <title>Login - Communication_LTD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center">
        <h1>Login</h1>
        <form method="post" class="form-login">
            <div class="txt_field">
                <input type="text" id="username" name="username" required>
                <span></span> <!-- Add this if you have a specific style for the span in your CSS -->
                <label for="username">Username:</label>
            </div>
            <div class="txt_field">
                <input type="password" id="password" name="password" required>
                <span></span> <!-- Add this if you have a specific style for the span in your CSS -->
                <label for="password">Password:</label>
            </div>
            <div class="singup_link">
                <a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
            </div>
            <input type="submit" value="Sign In">
            {% if get_flashed_messages() %}
                <div class="error-messages">
                    {% for message in get_flashed_messages() %}
                        <textarea readonly class="error-message">{{ message }}</textarea>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
        <div class="singup_link">
            <a href="{{ url_for('register') }}">Sign Up</a>
        </div>
    </div>
</body>
</html>
