<!DOCTYPE html>
<html>
<head>
    <title>Register - Communication_LTD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center">
        <h1>Register</h1>
        <form method="post" class="form-register">
            <div class="txt_field">
                <input type="text" id="username" name="username" required value="{{ username }}">
                <span></span>
                <label for="username">Username:</label>
            </div>
            <div class="txt_field">
                <input type="email" id="email" name="email" required value="{{ email }}">
                <span></span>
                <label for="email">Email:</label>
            </div>
            <div class="txt_field">
                <input type="password" id="password" name="password" required>
                <span></span>
                <label for="password">Password:</label>
            </div>
            <input type="submit" value="Register">
            {% if get_flashed_messages() %}
                <div class="error-messages">
                    {% for message in get_flashed_messages() %}
                        <textarea readonly class="error-message">{{ message }}</textarea>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
        <div class="singup_link">
            <a href="{{ url_for('login') }}">I have an account</a>
        </div>
    </div>
</body>
</html>
