<!DOCTYPE html>
<html>
<head>
    <title>Reset Password - Communication_LTD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center">
        <h1>Reset Password</h1>
        <form method="post" class="form-login">
            <input type="hidden" name="email" value="{{ email }}">
            <div class="txt_field">
                <input type="password" id="new_password" name="new_password" required>
                <span></span>
                <label for="new_password">New Password:</label>
            </div>
            <input type="submit" value="Reset Password">
            {% if get_flashed_messages() %}
                <div class="error-messages">
                    {% for message in get_flashed_messages() %}
                        <textarea readonly class="error-message">{{ message }}</textarea>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
</body>
</html>
