<!DOCTYPE html>
<html>
<head>
    <title>Reset Password - Communication_LTD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h2>Reset Password</h2>
        </header>
        <div class="form-login">
            <form method="post">
                <input type="hidden" name="email" value="{{ email }}">
                <div class="form-group">
                    <label for="new_password">New Password:</label>
                    <input type="password" id="new_password" name="new_password" class="form-control" required>
                </div>
                <button type="submit" class="btn">Reset Password</button>
                {% if get_flashed_messages() %}
                    <div class="error-messages">
                        {% for message in get_flashed_messages() %}
                            <textarea readonly class="error-message">{{ message }}</textarea>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>
