<!DOCTYPE html>
<html>
<head>
    <title>Verify Token - Communication_LTD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center">
        <h1>Verify Token</h1>
        <form method="post">
            <input type="hidden" name="email" value="{{ email }}">
            <div class="txt_field">
                <input type="text" id="token" name="token" required>
                <span></span>
                <label for="token">Token:</label>
            </div>
            <input type="submit" value="Verify Token">
            {% if get_flashed_messages() %}
                <div class="error-messages">
                    {% for message in get_flashed_messages() %}
                        <textarea readonly class="error-message">{{ message }}</textarea>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
</body>
</html>
